<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{- site.description | escape -}}</p>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="tree-list">
          <li>me/
            <ul>
              <li><a href="https://github.com/FDeSousa">github</a></li>
              <li><a href="https://www.linkedin.com/in/filipegdesousa">linkedin</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="tree-list">
          <li>services/
            <ul>
              <li><a href="https://freedns.afraid.org/">free_dns</a></li>
              <li><a href="/feed.xml">rss</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>

<script src="/assets/js/theme-switcher.js" defer></script>
